@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --main-bg-color: #2874f0;
}
*{
    margin: 0;
    padding: 0;
    
}
header{
    background: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    
    
}

nav{
    display: flex;
}
nav img{
    width: 108px;
    padding: 0 6px;
}
.logo{
    display: flex;
    align-items: center;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;

}
nav ul li a{
    color:white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bolder;
}

.search{
    display: flex;
    align-items: center;
}
.search input{
    width:30vw;
    height: 23px;
    border-radius: 2px;
    margin: 0 16px 0 56px;
    padding: 0 16px ;

}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
.slider{
    margin: 12px auto;
    width: 80vw;
    overflow: hidden;
}
.card{
    max-width: 91vw;
    margin: 35px auto;
    overflow: hidden;
}
.card h2{

    font-family: 'Lato', sans-serif;
}
hr{
    margin: 15px 0 0 0;
}
.card-item{
    width: 13vw;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 35px;
    overflow: hidden;
}

#offer1{
    color: green;
}
footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
}